<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container" >
        <table class="table table-striped">
            <h2>User Details</h2>
            <tr>
                <td>Id</td>
                <td><span th:text="${user.id}"></span></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><span th:text="${user.name}"></span></td>
            </tr>
            <tr>
                <td>Role Group</td>
                <td><span th:text="${user.roleGroup}"></span></td>
            </tr>
        </table>
        <a th:href="${'/users/edit/' + user.id}" class="btn btn-default">Edit</a>
        <a href="/users" class="btn btn-default">Users Home</a>
    </div>
</body>

</html>